<!-- Load full set of processing nodelets for an OpenNI device -->
<launch>

  <!-- Name of nodelet manager -->
  <arg name="manager" />

  <!-- Launch robustly (bonds + respawn) or not? -->
  <arg name="respawn" default="false" />
  <arg     if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />
  
  <!-- Processing modules -->
  <arg name="rgb_processing" />
  <arg name="ir_processing" />
  <arg name="depth_processing" />
  <arg name="depth_registered_processing" />
  <arg name="disparity_processing" />
  <arg name="disparity_registered_processing" />
  
  <!-- Remapping arguments -->
  <arg name="rgb"              default="rgb" />
  <arg name="ir"               default="ir" />
  <arg name="depth"            default="depth" />
  <arg name="depth_registered" default="depth_registered" />
  <arg name="projector"        default="projector" />

  <!-- RGB processing -->
  <include if="$(arg rgb_processing)"
           file="$(find openni_launch)/launch/includes/rgb.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
    <arg name="rgb"     value="$(arg rgb)" />
  </include>

  <!-- IR processing -->
  <include if="$(arg ir_processing)"
           file="$(find openni_launch)/launch/includes/ir.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
    <arg name="ir"      value="$(arg ir)" />
  </include>

  <!-- Unregistered depth processing -->
  <include if="$(arg depth_processing)"
           file="$(find openni_launch)/launch/includes/depth.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
    <arg name="depth"   value="$(arg depth)" />
  </include>

  <!-- Depth-to-RGB registration and processing -->
  <include if="$(arg depth_registered_processing)"
           file="$(find openni_launch)/launch/includes/depth_registered.launch">
    <arg name="manager"           value="$(arg manager)" />
    <arg name="rgb"               value="$(arg rgb)" />
    <arg name="depth"             value="$(arg depth)" />
    <arg name="depth_registered"  value="$(arg depth_registered)" />
    <arg name="respawn"           value="$(arg respawn)" />
  </include>

  <!-- Unregistered disparity image -->
  <include if="$(arg disparity_processing)"
           file="$(find openni_launch)/launch/includes/disparity.launch">
    <arg name="manager"   value="$(arg manager)" />
    <arg name="depth"     value="$(arg depth)" />
    <arg name="projector" value="$(arg projector)" />
    <arg name="respawn"   value="$(arg respawn)" />
  </include>

  <!-- Registered disparity image -->
  <include if="$(arg disparity_registered_processing)"
           file="$(find openni_launch)/launch/includes/disparity.launch">
    <arg name="manager"   value="$(arg manager)" />
    <arg name="depth"     value="$(arg depth_registered)" />
    <arg name="projector" value="$(arg projector)" />
    <arg name="respawn"   value="$(arg respawn)" />
  </include>

</launch>
