<!-- Load processing nodelets for the RGB camera -->
<launch>

  <arg name="manager" />
  <arg name="bond" default="--no-bond" />

  <!-- Debayered images -->
  <node pkg="nodelet" type="nodelet" name="debayer"
	args="load image_proc/debayer $(arg manager) $(arg bond)"/>

  <!-- Monochrome rectified image -->
  <node pkg="nodelet" type="nodelet" name="rectify_mono"
        args="load image_proc/rectify $(arg manager) $(arg bond)"/>

  <!-- Color rectified image -->
  <node pkg="nodelet" type="nodelet" name="rectify_color"
        args="load image_proc/rectify $(arg manager) $(arg bond)">
    <remap from="image_mono" to="image_color" />
    <remap from="image_rect" to="image_rect_color" />
  </node>

</launch>
